alias ls="exa -lh "
alias v="nvim"
alias add="git add ."
alias commit="git commit -m"
alias push="git push"
alias e="exit"
alias up="sudo wg-quick up wg0"
alias down="sudo wg-quick down wg0"
alias k="kubectl"
alias actv="source env/bin/activate"
alias migrate="python manage.py migrate"
alias migrations="python manage.py makemigrations"
alias server="python manage.py runserver"
alias ps="docker ps"
