alias ls="exa -lh --git"
alias v="nvim"
alias add="git add ."
alias commit="git commit -m"
alias push="git push"
alias e="exit"
alias up="sudo wg-quick up wg0"
alias down="sudo wg-quick down wg0"
alias k="kubectl"
